@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");
.container_form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.container_form .header_form {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.container_form .header_form h2 {
    margin: 0;
}

.container_form .form {
    padding: 30px 40px;
}

.container_form .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.container_form .form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.container_form .form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.container_form .form-control input:focus {
    outline: 0;
    border-color: #777;
}

.container_form .form-control.success input {
    border-color: #2ecc71;
}

.container_form .form-control.error input {
    border-color: #e74c3c;
}

.container_form .form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.container_form .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.container_form .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.container_form .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.container_form .form-control.error small {
    visibility: visible;
}

.container_form .form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}


/* SOCIAL PANEL CSS */

.container_form .social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.container_form .social-panel-container.visible {
    transform: translateX(-10px);
}

.container_form .social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001f61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Muli";
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.container_form .social-panel button.close-btn {
    border: 0;
    color: #97a5ce;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.container_form .social-panel button.close-btn:focus {
    outline: none;
}

.container_form .social-panel p {
    background-color: #001f61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.container_form .social-panel p i {
    margin: 0 5px;
}

.container_form .social-panel p a {
    color: #ff7500;
    text-decoration: none;
}

.container_form .social-panel h4 {
    margin: 20px 0;
    color: #97a5ce;
    font-family: "Muli";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.container_form .social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container_form .social-panel ul li {
    margin: 0 10px;
}

.container_form .social-panel ul li a {
    border: 1px solid #dce1f2;
    border-radius: 50%;
    color: #001f61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.container_form .social-panel ul li a:hover {
    border-color: #ff6a00;
    box-shadow: 0 9px 12px -9px #ff6a00;
}

.container_form .floating-btn {
    border-radius: 26.5px;
    background-color: #001f61;
    border: 1px solid #001f61;
    box-shadow: 0 16px 22px -17px #03153b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.container_form .floating-btn:hover {
    background-color: #ffffff;
    color: #001f61;
}

.container_form .floating-btn:focus {
    outline: none;
}

.container_form .floating-text {
    background-color: #001f61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: "Muli";
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.container_form .floating-text a {
    color: #ff7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .container_form .social-panel-container.visible {
        transform: translateX(0px);
    }
    .container_form .floating-btn {
        right: 10px;
    }
}

fieldset label {
    color: #fff;
    font-size: 0.9rem;
    text-align: left !important;
}

fieldset .p {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

fieldset input[type="radio"] {
    height: 20px;
}

fieldset input[type="checkbox"] {
    height: 15px;
}

fieldset input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 0rem 0.5rem;
    font-weight: 600;
}

fieldset select {
    height: 40px;
    width: 106%;
    padding: 0rem 0.5rem;
    border-radius: 6px;
    font-weight: 600;
}

fieldset input:focus {
    outline: none;
}

fieldset textarea {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    font-weight: 600;
    resize: none;
}

fieldset textarea:focus {
    outline: none;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.position-relative {
    position: relative;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.text-red {
    color: #e74c3c;
}